# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env
.flaskenv

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db

# Codespaces / Dev Containers
.devcontainer/
